{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">

    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <title>Title</title>
</head>
<body style="justify-content: center; display: flex; align-items: center;  height: 100vh;  flex: 1;">
<div style="justify-content: center; display: flex; align-items: flex-start; ">
    <form method="post" action="{% url 'core:index' %}">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="save">
    </form>
    <ul>
        {% for key, value in urls.items %}
        <li style="flex-direction: row; display: flex; margin-bottom: 10px;">{{ key }} - {{ value.1 }} <form style="margin-left: 10px;" method="POST" action="{% url 'core:delete' value.0  %}">{% csrf_token %} <input type="submit" value="delete"></form> </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>